<!DOCTYPE html>
<html lang="en">
    {{>head}}
<body>
    
    <div class="main-content">
        {{>header}}
        <img src="/img/panca.png" alt="panca" class="portrait">
    </div>
    {{>footer}}
    
</body>
</html>